<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./static/style.css">
    <title>Women's Hockey</title>
</head>
<body style ="background-color:MidnightBlue;">
	<div class="img-container">
            <img src="" alt="Hockey"  style="width:200px;height:150px;" text-align="center" >
	</div>
<div></div>
<div style="color:white;text-align:center;font-size:30px;">Women's Hockey {{ title2 }}</div>

<div>
    <a href="https://plotly.com/~awink42/2/?share_key=lylNHj1LYPgE0zUDtKwd28" target="_blank" title="US_hockey" style="display: block; text-align: center;"><img src="https://plotly.com/~awink42/2.png?share_key=lylNHj1LYPgE0zUDtKwd28" alt="US_hockey" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
    <script data-plotly="awink42:2" sharekey-plotly="lylNHj1LYPgE0zUDtKwd28" src="https://plotly.com/embed.js" async></script>
</div>


</body>
</html>